<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="stylesheets/stylesheets.css">

<body class="main-body">
  {{!-- Main Nav --}}
  {{> _navbar}}
  
  {{!-- Background Picture --}}
   {{> _background_picture}}

  <div class="container">
  
  {{!-- Toggle Education --}}
    {{> _education}}
  
  {{!-- Toggle Skills--}}
    {{> _skills}}
     
    </div>
    {{!--Footer --}}
    {{> _footer}}
    <script src="javascripts/main.js"></script>
</body>

</html>