h1 {
    text-align: center;
}

.paragraph {
    color: blue;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;    
}
iframe {
    width: 250px;
    height: 250px;
    margin-top: 5px;
}