// Menu button
.menu-btn {
  position: absolute;
  z-index: 3;
  top: 35px;
  right: 35px;

  cursor: pointer;
  @include easeOutTrans();

  .btn-line {
    width: 28px;
    height: 3px;

    margin: 0 0 5px 0;
    background: set-text-color($light);
    @include easeOutTrans();
  }

  // Rotate into X
  &.close {
    transform: rotate(180deg);

    .btn-line {
      // line 1 rotate 45deg
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      // line 2 hide
      &:nth-child(2) {
        opacity: 0;
      }

      // line 3 rotate 135deg
      &:nth-child(3) {
        transform: rotate(135deg) translate(-6px, 6px);
      }
    }
  }
}

// Menu Overlay

.main-nav {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
  &.show {
    visibility: visible;
  }

  .nav-brand,
  .nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  // Nav side
  .nav{
    margin: 0;
    padding: 0;
    background: darken($color: $lightblue, $amount: 5);
    list-style: none;
    transform: translate3d(0, -100%, 0);
    @include easeOutTrans();

    &.show{
      transform: translate3d(0,0,0)
    }
  }

  // Brand side
  .nav-brand{
    background: $light;
    @include easeOutTrans();
    transform: translate3d(0, 100%, 0);
    &.show{
      transform: translate3d(0,0,0);
    }
    .brand{
      width: 250px;
      height: 250px;
      background: url('../images/me.jpg');
      background-size: cover;
      border-radius: 50%;
      border: solid 3px $lightblue;
    }
  }

  .nav-item{
    transform: translate3d(600px, 0, 0);
    @include easeOutTrans();
    &.show{
      transform: translate3d(0,0,0)
    }
  }

  .nav-link{
    display: inline-block;
    position: relative;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: set-text-color($light);
    text-decoration: none;
    @include easeOutTrans();

    &:hover{
      color: $lightblue;
    }
  }
}

// Delay each nav item by 0.1s slide in
@for $i from 1 through 4 {
  .nav-item:nth-child(#{$i}){
    transition-delay: $i * 0.1s;
  }
}
