<div class="row card-items">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Education</h5>
                <p class="card-text">I am an aspiring web designer with 3 years of experience in front-end development.
                    I have worked on mulitple Sprint projects using Scrum agile development.
                </p>
                <button onclick="toggleEducation()" id="educationBtn" class="btn btn-primary btn-sm">ReadMore</button>
                <br /> <br />
                <ul class="list-group education" id="educationText">
                    <li class="list-group-item">Haaga-Helia University of Applied Sciences</li>
                    <li class="list-group-item">2019 Helsinki NordicHealthHackathon</li>
                    <li class="list-group-item">2019 The Shortcut</li>
                </ul>
            </div>
        </div>
    </div>