<footer class="footer container">
    <div class="row">
        <div class="col">
            <ul>
                <li><a href="#" class="social linkedin">LinkedIn</a></li>
                <li><a href="#" class="social github">Github</a></li>
            </ul>
            <p class="copyright">Copyright 2015, John Smith</p>
        </div>
    </div>
</footer>