<div class="col">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Skills</h5>
            <p class="card-text">My projects includes: tranerapp-update application, restaurant application, Book Store
                application, RSVP application.
                I used JavaScript and ReactJS for the front-end and Java and MariaDB for the back-end.
            </p>
            <button onclick="toggleSkills()" id="skillsBtn" class="btn btn-primary btn-sm">ReadMore</button>
            <ul class="skills" id="skillsText">
                <br />
                <p id="skillsText">Here is a list of my current technology stacks:</p>
                <li class="list-group-item list-group-item-action">HTML</li>
                <li class="list-group-item list-group-item-action">CSS</li>
                <li class="list-group-item list-group-item-action">JavaScript</li>
                <li class="list-group-item list-group-item-action">ReactJS</li>
                <li class="list-group-item list-group-item-action">jQuery</li>
            </ul>
        </div>
    </div>
</div>